<div class="row">
	<div class="container">
		<h3 class="nmg-section-title">Programs</h3>

		<tabset class="nmg-font">
			<tab heading="Hands On Art" ng-click="openPage('#/programs/hands-on-art')" active="tab.isHandsActive"></tab>
			<tab heading="Spring Art Camp" ng-click="openPage('#/programs/spring-art-camp')" active="tab.isSpringActive"></tab>
			<tab heading="Summer Art Camp" ng-click="openPage('#/programs/summer-art-camp')" active="tab.isSummerActive"></tab>
			<tab heading="Ski Week Art Camp" ng-click="openPage('#/programs/ski-week-art-camp')" active="tab.isSkiActive"></tab>
		</tabset>

		<h2 class="nmg-theme-text-programs nmg-page-title">{{title}}</h2>
		<div ng-transclude>
	</div>
</div>
