.nmg-curriculum-left {
	float:left;
	margin-right:10px;
}
.nmg-curriculum-right {
	float:right;
	margin-left:10px;
}
.nmg-theme-text-curriculum {
  color:$theme-text-color-curriculum;
}
.nmg-theme-text-curriculum > a {
  color:$theme-text-color-curriculum;
}
