/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* basic text color based on the current background theme. */
/* $theme-text-color: #4E6DBE; /* dark blue */
$theme-text-color: rgb(107,9,0); /* dark blue */

$background-light-1: rgba(255,255,255,0.7);

/* text color for summer theme.  */
$summer-text-color: rgb(107,9,0);
$tulip-text-color: rgb(32,53,24);
$poppy-text-color: rgb(236,135,160);

$theme-text-color: $tulip-text-color;
$theme-text-color-poppy: $poppy-text-color;
$theme-text-color-about: $poppy-text-color;
$theme-text-color-curriculum: #f28c45;
$theme-text-color-programs: $summer-text-color;
$theme-text-color-community: $summer-text-color;
$theme-text-color-events: $summer-text-color;
$theme-text-color-parents: $poppy-text-color;

/* text color for Hands On Art.  */
$hoa-text-color: rgb(244,238,126);

@import "global/style-src.scss";
@import "global/style-bg/style-src.scss";
@import "about/style-src.scss";
@import "curriculum/style-src.scss";
@import "landing/style-src.scss";
@import "parents/style-src.scss";
@import "programs/style-src.scss";
@import "events/style-src.scss";
